91

In [1]:
a=[1,2,3,4,5]

In [2]:
len(a)

5

In [3]:
a[3]

4

In [4]:
s=0
s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

s+=5等でも入力は可能

In [5]:
s=0

for x in [1,2,3,4,5]:
    s=s+x
    
s

15

リストの各要素をｘという（仮の）名前を付け取り出す

In [9]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]

for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [10]:
s=0

for x in list_tohoku:
    s+=x

s

32042

In [11]:
s/len(list_tohoku)

5340.333333333333

92

上で求まる。平均を求める。

９３

In [12]:
list_shikoku = [3148, 2991, 2966, 2457]

In [13]:
s=0

for x in list_shikoku:
    s+=x

s

11562

In [14]:
s/len(list_shikoku)

2890.5

In [15]:
from statistics import*

In [16]:
mean(list_shikoku)

2890.5

96

これは関係ない？

In [17]:
a={'apple':100,'orange':150,'grape':200}

In [18]:
a['apple']

100

In [19]:
for x in a:
    print(x)

apple
orange
grape

インデントを気をつけないと意味が変わってしまう。

In [20]:
for x in a:
    print(x)
    print(a[x])

apple
100
orange
150
grape
200

In [22]:
s=0

for x in a:
    s+=a[x]
    
s

450

In [23]:
s/len(a)

150.0

In [24]:
a.values()

dict_values([100, 150, 200])

In [25]:
mean(a.values())

150

In [26]:
s=0
for x in a.values():
    s+=x
s/len(a)

150.0

meanが一番実用的

この時点で９９まで解ける。

In [29]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

95

In [30]:
a=[1,2,3,4,5]

In [31]:
avg=mean(a)

In [32]:
avg

3

In [34]:
b=[(1-3)**2,(2-3)**2,(3-3)**2,(4-3)**2,(5-3)**2]

In [35]:
b

[4, 1, 0, 1, 4]

In [36]:
ver=mean(b)
b

[4, 1, 0, 1, 4]

In [37]:
ver

2

In [39]:
stdev=ver**0.5
stdev

1.4142135623730951

↑はダメな例

In [45]:
a=[1,2,3,4,5]

s=0
for x in a:
    s+=x
    
avg=s/len(a)

s=0
for x in a:
    s+=(x-avg)**2
    
v=s/len(a)

v**0.5

1.4142135623730951

In [41]:
avg

3.0

In [46]:
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [47]:
a=list(range(1,21))

s=0
for x in a:
    s+=x
    
avg=s/len(a)

s=0
for x in a:
    s+=(x-avg)**2
    
v=s/len(a)

v**0.5

5.766281297335398